<p id="notice"><%= notice %></p>

<h1>Credit Payments</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Payment</th>
      <th>Invoice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credit_payments.each do |credit_payment| %>
      <tr>
        <td><%= credit_payment.amount %></td>
        <td><%= credit_payment.payment %></td>
        <td><%= credit_payment.invoice %></td>
        <td><%= link_to 'Show', credit_payment %></td>
        <td><%= link_to 'Edit', edit_credit_payment_path(credit_payment) %></td>
        <td><%= link_to 'Destroy', credit_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credit Payment', new_credit_payment_path %>
