<% content_for :title, "Editar Cliente" %>


             	<!-- Page Header -->
                <div class="content bg-gray-lighter">
                    <div class="row items-push">
                        <div class="col-sm-7">
                            <h1 class="page-heading animated zoomIn">
                                Editar Cliente <small>Edit Existing Customer Data.</small>
                            </h1>
                        </div>
                        <div class="col-sm-5 text-right hidden-xs">
                            <ol class="breadcrumb push-10-t">
                                <li>Inicio</li>
                                <li><a class="link-effect" href="">Editar Cliente</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- END Page Header -->

                <!-- Page Content -->
                <div class="content">
                	<div class="row">
                        <div class="col-md-12">
							<div class="block">
		                        <div class="block-header">
		                            <ul class="block-options">
										<li>
											<button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
										</li>
										<li>
											<button type="button" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
										</li>
									</ul>
		                            <h3 class="block-title">Cliente Form <small>Requierd</small></h3>
		                        </div>
		                        <div class="block-content block-content-narrow">
									<div class="row">
										<div class="col-md-6 col-md-offset-3">
											<%= form_for @client, :html=>{:class=>'form-horizontal push-10-t'} do|f| %>
												<div class="form-group">
				                                    <label class="col-xs-12" for="example-password-input">Nombre</label>
													<div class="col-sm-12">
			                                        	<%= f.text_field :client_name, :class=>'form-control', :placeholder=>"Enter Nombre Cliente", :required=>''  %>
				                                    </div>
				                                </div>
			                                	<div class="form-group">
				                                    <label class="col-xs-12" for="example-password-input">Email</label>
													<div class="col-sm-12">
				                                        <%= f.text_field :client_email, :class=>'form-control', :placeholder=>"Enter Correo Cliente", :type=>'email', :required=>''  %>
				                                    </div>
				                                </div>
				                                <div class="row">
					                                <div class="col-md-6">
					                                	<div class="form-group">
						                                    <label class="col-xs-12" for="example-password-input">Numero Telefono</label>
															<div class="col-sm-12">
						                                       	<%= f.text_field :client_phone, :class=>'form-control', :placeholder=>"Enter Telefono Cliente", :required=>''  %>
						                                    </div>
						                                </div>
					                                </div>
					                                <div class="col-md-6">
						                                <div class="form-group">
						                                    <label class="col-xs-12" for="example-password-input">Sexo</label>
															<div class="col-sm-12">
				                                        	<%= f.select :client_sex, options_for_select([ 'Masculino', 'Femenino'], :selected => f.object.client_sex), {:include_blank => false}, {:class=>'form-control'} %>
				                                            </div>
						                                </div>
				                                	</div>
				                                </div>
				                                <div class="form-group">
				                                    <label class="col-xs-12" for="example-password-input">Address</label>
													<div class="col-sm-12">
				                                        <%= f.text_area :client_address, :class=>'form-control', :placeholder=>"Enter   Direccion   cliente", :required=>''  %>
				                                    </div>
				                                </div>
				                                <div class="form-group">
				                                    <div class="col-sm-12">
				                                        <%= f.submit :class=>'btn btn-sm btn-primary', :value=>'Guardar' %>
				                                    </div>
				                                </div>
		                            		<% end %>
		                            	</div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
                </div>
