<% content_for :title, "Clientes" %>


              <!-- Page Header -->
              <div class="content bg-gray-lighter">
                  <div class="row items-push">
                      <div class="col-sm-7">
                          <h1 class="page-heading animated zoomIn">
                              Cliente <small>Todos Clientes Data.</small>
                          </h1>
                      </div>
                      <div class="col-sm-5 text-right hidden-xs">
                          <ol class="breadcrumb push-10-t">
                              <li>Inicio</li>
                              <li><a class="link-effect" href="">Cliente</a></li>
                          </ol>
                      </div>
                  </div>
              </div>
              <!-- END Page Header -->

              <!-- Page Content -->
              <div class="content">
                  <!-- Dynamic Table Simple -->
                  <div class="block">
                      <div class="block-header">
                          <ul class="block-options">
                              <li>
                                  <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                              </li>
                              <li>
                                  <button type="button" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                              </li>
                          </ul>
                          <h3 class="block-title">Cliente <small>Records</small></h3>
                      </div>
                      <div class="block-content table-responsive">
                          <!-- DataTables init on table by adding .js-dataTable-simple class, functionality initialized in js/pages/base_tables_datatables.js -->
                          <table class="table table-striped js-dataTable-full-pagination">
                              <thead>
                                  <tr>
                                      <th>ID</th>
                                      <th>Nombre</th>
                                      <th>Telefono</th>
                                      <th>Correo</th>
                                      <th>Sexo</th>
                                      <th>Direccion</th>
                                      <th class="text-center">Acciones</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <% @clients.each do |clients|  %>
                                  <tr><td>A-<%= clients.id %></td>
                                      <td><%= clients.client_name %></td>
                                      <td><%= clients.client_phone %></td>
                                      <td><%= clients.client_email %></td>
                                      <td><%= clients.client_sex %></td>
                                      <td><%= clients.client_address %></td>
                                      <td class="text-center">
                                          <div class="btn-group">
                                              <%= link_to client_path(clients.id), :class=>'btn btn-xs btn-default' do %>
                                                  <i class="fa fa-eye"></i>
                                              <% end %>
                                              <%= link_to edit_client_path(clients.id), :class=>'btn btn-xs btn-default' do %>
                                                  <i class="fa fa-pencil"></i>
                                              <% end %>
                                          </div>
                                      </td>
                                  </tr>
                                <% end %>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <!-- END Page Content -->
