<%= form_with(model: salary, local: true) do |form| %>
  <% if salary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(salary.errors.count, "error") %> prohibited this salary from being saved:</h2>

      <ul>
      <% salary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :freelance_id %>
    <%= form.text_field :freelance_id, id: :salary_freelance_id %>
  </div>

  <div class="field">
    <%= form.label :salary_date %>
    <%= form.date_select :salary_date, id: :salary_salary_date %>
  </div>

  <div class="field">
    <%= form.label :salary_month %>
    <%= form.text_field :salary_month, id: :salary_salary_month %>
  </div>

  <div class="field">
    <%= form.label :salary_paid %>
    <%= form.number_field :salary_paid, id: :salary_salary_paid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
