<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id, id: :project_client_id %>
  </div>

  <div class="field">
    <%= form.label :freelance_id %>
    <%= form.text_field :freelance_id, id: :project_freelance_id %>
  </div>

  <div class="field">
    <%= form.label :delivery_date %>
    <%= form.date_select :delivery_date, id: :project_delivery_date %>
  </div>

  <div class="field">
    <%= form.label :project_amount %>
    <%= form.number_field :project_amount, id: :project_project_amount %>
  </div>

  <div class="field">
    <%= form.label :project_paid %>
    <%= form.number_field :project_paid, id: :project_project_paid %>
  </div>

  <div class="field">
    <%= form.label :project_status %>
    <%= form.text_field :project_status, id: :project_project_status %>
  </div>

  <div class="field">
    <%= form.label :project_details %>
    <%= form.text_area :project_details, id: :project_project_details %>
  </div>

  <div class="field">
    <%= form.label :project_delete %>
    <%= form.number_field :project_delete, id: :project_project_delete %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
